<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_main_style.css">

<!-- Tukaj vstavi vsebino -->
<div class="col-xl-12 title">
    <h1>Upravljanje Rezervacij</h1>
    <i class="fas fa-question-circle" data-toggle="modal" data-target="#pomoc"></i>
</div>
<!-- Zacetek rezervacij -->

<!-- Source oseb: wikipedia: najpogostejsi imena + priimki -->

<div class="row">

    <div class="col-12 col-md-6">
        <div class="col-xl-12">
            <h3 class="sredina-text text-white">Nove rezervacije</h3>
        </div>

        {{#each caka as |rezervacija|}}
        <div class="rezervacija-skatla" id={{rezervacija._id}} narocilo_id={{rezervacija.narocilo._id}}>
            <h5 class="sredina-text">Rezervacija <i class="fas fa-check"></i></h5>

            <p class="levo-text kartica-padding">
                Stranka: <strong>{{rezervacija.ime_stranke}}</strong>
                <span class="desno-float">St. mest: <strong>{{rezervacija.st_oseb}}</strong></span>
            </p>

            <p class="levo-text kartica-padding">
                Datum: <strong>{{datum rezervacija.narocilo.datum_in_ura}}</strong>
                <span class="desno-float">Ura: <strong>{{cas rezervacija.narocilo.datum_in_ura}}</strong></span>
            </p>

            {{{meniRezervacije rezervacija.narocilo.meni_items ../meni}}}

            <div class="ikone-stil">
                <i role="button" class="far fa-address-book ikone-stil-posamezna" data-toggle="modal"
                    data-target="#kontaktstranke"></i>
                <i role="button" class="far fa-check-circle ikone-stil-posamezna potrdi_rezervacijo"></i>

                <i role="button" class="fas fa-ban ikone-stil-posamezna zavrni_rezervacijo"></i>
            </div>
        </div>
        {{/each}}
    </div>



    <div class="col-12 col-md-6">
        <div class="col-xl-12">
            <h3 class="sredina-text text-white">Potrjene rezervacije</h3>
        </div>

        {{#each potrjene as |rezervacija|}}
        <div class="rezervacija-skatla" id={{rezervacija._id}}>
            <h5 class="sredina-text">Potrjena rezervacja <i class="fas fa-times"></i></h5>

            <p class="levo-text kartica-padding">
                Stranka: <strong>{{rezervacija.ime_stranke}}</strong>
                <span class="desno-float">St. mest: <strong>{{rezervacija.st_oseb}}</strong></span>
            </p>

            <p class="levo-text kartica-padding">
                Datum: <strong>{{datum rezervacija.narocilo.datum_in_ura}}</strong>
                <span class="desno-float">Ura: <strong>{{cas rezervacija.narocilo.datum_in_ura}}</strong></span>
            </p>

            {{{meniRezervacije rezervacija.narocilo.meni_items ../meni}}}

            <div class="ikone-stil">
                <i role="button" class="far fa-address-book ikone-stil-posamezna" data-toggle="modal"
                    data-target="#kontaktstranke"></i>
                <i role="button" class="fas fa-utensils ikone-stil-posamezna" data-toggle="modal"
                    data-target="#dodajnarocilo" data-narocilo="{{rezervacija.narocilo._id}}"></i>
                <i role="button" class="fas fa-ban ikone-stil-posamezna"></i>
            </div>
        </div>
        {{/each}}

    </div>



</div>


<div class="modal fade" id="pomoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1 class="legendheader">Legenda</h1>
                <div class="iconsflex">
                    <div class="iconmodal">
                        <i class="far fa-address-book"></i>
                        <p>Kontakt stranke</p>
                    </div>
                    <div class="iconmodal">
                        <i class="far fa-check-circle"></i>
                        <p>Potrdi</p>
                    </div>
                    <div class="iconmodal">
                        <i class="fas fa-ban"></i>
                        <p>Zavrni</p>
                    </div>
                    <div class="iconmodal">
                        <i class="fas fa-utensils"></i>
                        <p>Dodaj med naročila</p>
                    </div>
                </div>
                <div class="butlegenda">
                    <button type="submit" class="but" data-dismiss="modal">Zapri</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="kontaktstranke" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1 class="legendheader">Kontakt stranke</h1>
                <textarea class="kontaktinput" type="text"></textarea>
                <div class="butkontakt">
                    <button type="submit" class="but" data-dismiss="modal">Zapri</button>
                    <button type="submit" class="but">Pošlji</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dodajnarocilo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1 class="modalheader">Meni:</h1>
                <div id="meni">
                </div>
                <div class="inputfieldtop">
                    <div class="inputfield">
                        <lebel>Natakar</lebel>
                        <select id="natakar"></select>
                    </div>
                    <div class="inputfield">
                        <lebel>Miza</lebel>
                        <select id="miza"></select>
                    </div>
                </div>
                <div class="butkontakt">
                    <button type="submit" class="but" data-dismiss="modal">Zapri</button>
                    <button type="submit" class="but" id="narociloposli">Pošlji</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="/javascript/nadzorna_plosca_rezervacije.js"></script>