<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_main_style.css">

<!-- Tukaj vstavi vsebino -->
<div class="col-xl-12 title">
    <h1>Urnik izmen</h1>
    <i class="fas fa-question-circle" data-toggle="modal" data-target="#pomoc"></i>
</div>
<div class="col-xl-12 title">
    <h3 class="sredina-text text-white"><a href="/nadzorna_plosca/urnik{{{nadzorna_urnik_prev leto mesec uporabnik_id zaposleni_role}}}"><i class="fas fa-arrow-left ikone-stil-posamezna"></i></a><span id="naslov_datum">{{mesec_to_string mesec}} {{leto}}</span><a href="/nadzorna_plosca/urnik{{{nadzorna_urnik_next leto mesec uporabnik_id zaposleni_role}}}"><i class="fas fa-arrow-right ikone-stil-posamezna"></i></a></h3>
</div>
<!-- Zacetek Urnika -->

<div class="col-xl-12">

    <div class="row rezervacija-skatla sredina-text">

        <div class="d-none d-lg-block col-lg-11 col-xl-11 ikone-stil-posamezna-no-hover gor-margin">
            <div class="row">
                <div class="col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                    <p><strong>Ponedeljek</strong></p>
                </div>
                <div class="col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                    <p><strong>Torek</strong></p>
                </div>
                <div class="col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                    <p><strong>Sreda</strong></p>
                </div>
                <div class="col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                    <p><strong>Cetrtek</strong></p>
                </div>
                <div class="col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                    <p><strong>Petek</strong></p>
                </div>
                <div class="col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                    <p><strong>Sobota</strong></p>
                </div>
                <div class="col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                    <p><strong>Nedelja</strong></p>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-5 col-md-3 col-lg-11 col-xl-11 row ikone-stil-posamezna-no-hover gor-margin">
            <div class="d-block d-lg-none col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p><strong>1. Teden</strong></p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_0">{{datum_to_sting urnik 0 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_1">{{datum_to_sting urnik 1 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_2">{{datum_to_sting urnik 2 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_3">{{datum_to_sting urnik 3 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_4">{{datum_to_sting urnik 4 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_5">{{datum_to_sting urnik 5 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_6">{{datum_to_sting urnik 6 zac_dan st_dni}}</p>
            </div>
        </div>
        <div class="col-12 col-sm-5 col-md-3 col-lg-11 col-xl-11 row ikone-stil-posamezna-no-hover gor-margin">
            <div class="d-block d-lg-none col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p><strong>2. Teden</strong></p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_7">{{datum_to_sting urnik 7 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_8">{{datum_to_sting urnik 8 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_9">{{datum_to_sting urnik 9 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_10">{{datum_to_sting urnik 10 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_11">{{datum_to_sting urnik 11 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_12">{{datum_to_sting urnik 12 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_13">{{datum_to_sting urnik 13 zac_dan st_dni}}</p>
            </div>
        </div>
        <div class="col-12 col-sm-5 col-md-3 col-lg-11 col-xl-11 row ikone-stil-posamezna-no-hover gor-margin">
            <div class="d-block d-lg-none col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p><strong>3. Teden</strong></p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_14">{{datum_to_sting urnik 14 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_15">{{datum_to_sting urnik 15 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_16">{{datum_to_sting urnik 16 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_17">{{datum_to_sting urnik 17 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_18">{{datum_to_sting urnik 18 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_19">{{datum_to_sting urnik 19 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_20">{{datum_to_sting urnik 20 zac_dan st_dni}}</p>
            </div>
        </div>
        <div class="col-12 col-sm-5 col-md-3 col-lg-11 col-xl-11 row ikone-stil-posamezna-no-hover gor-margin">
            <div class="d-block d-lg-none col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p><strong>4. Teden</strong></p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_21">{{datum_to_sting urnik 21 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_22">{{datum_to_sting urnik 22 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_23">{{datum_to_sting urnik 23 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_24">{{datum_to_sting urnik 24 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_25">{{datum_to_sting urnik 25 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_26">{{datum_to_sting urnik 26 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_27">{{datum_to_sting urnik 27 zac_dan st_dni}}</p>
            </div>
        </div>
        <div class="col-12 col-sm-5 col-md-3 col-lg-11 col-xl-11 row ikone-stil-posamezna-no-hover gor-margin">
            <div class="d-block d-lg-none col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p><strong>5. Teden</strong></p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_28">{{datum_to_sting urnik 28 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_29">{{datum_to_sting urnik 29 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_30">{{datum_to_sting urnik 30 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_31">{{datum_to_sting urnik 31 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_32">{{datum_to_sting urnik 32 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_33">{{datum_to_sting urnik 33 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_34">{{datum_to_sting urnik 34 zac_dan st_dni}}</p>
            </div>
        </div>
        <div class="col-12 col-sm-5 col-md-3 col-lg-11 col-xl-11 row ikone-stil-posamezna-no-hover gor-margin">
            <div class="d-block d-lg-none col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p><strong>6. Teden</strong></p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_35">{{datum_to_sting urnik 35 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_36">{{datum_to_sting urnik 36 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_37">{{datum_to_sting urnik 37 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_38">{{datum_to_sting urnik 38 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_39">{{datum_to_sting urnik 39 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_40">{{datum_to_sting urnik 40 zac_dan st_dni}}</p>
            </div>
            <div class="col-12 col-sm-11 col-md-11 col-lg-1 col-xl-1 ikone-stil-posamezna-no-hover">
                <p id="p_dan_41">{{datum_to_sting urnik 41 zac_dan st_dni}}</p>
            </div>
        </div>
    </div>


    <div class="modal fade" id="pomoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h1 class="legendheader">Legenda</h1>
                    <div class="iconsflex">
                        <div class="iconmodal">
                            <p>brez: prosto</p>
                        </div>
                        <div class="iconmodal">
                            <p>?: se ni doloceno</p>
                        </div>
                        <div class="iconmodal">
                            <p>D: dopoldan</p>
                        </div>
                        <div class="iconmodal">
                            <p>P: popoldan</p>
                        </div>
                        <div class="iconmodal">
                            <i class="fas fa-arrow-left"></i>
                            <p>naslednji mesec</p>
                        </div>
                        <div class="iconmodal">
                            <i class="fas fa-arrow-right"></i>
                            <p>Prejsnji mesec</p>
                        </div>
                    </div>
                    <div class="butlegenda">
                        <button type="submit" class="but" data-dismiss="modal">Zapri</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END Urnik -->


<!-- Tukaj KONEC vsebino -->