<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_main_style.css">
<!-- Zacetek Zasluzka -->

<div class="col-xl-12 title">
    <h3 class="sredina-text text-white"><a href="/nadzorna_plosca/zasluzek{{{nadzorna_urnik_prev leto mesec}}}"><i class="fas fa-arrow-left ikone-stil-posamezna"></i></a><span id="naslov_datum">{{mesec_to_string mesec}} {{leto}}</span><a href="/nadzorna_plosca/zasluzek{{{nadzorna_urnik_next leto mesec}}}"><i class="fas fa-arrow-right ikone-stil-posamezna"></i></a></h3>
</div>

<div class="col-xl-12"><h2 class="sredina-text text-white">{{sporocilo}}</h2></div>








