<link rel="stylesheet" href="/stylesheets/rezervacija_prva.css">


<a class="dodaj" href="/rezerviraj/podatki?uporabnik_id={{uporabnik._id}}"><i class="fas fa-plus"></i></a>

{{#each dynamicData.rezervacije as |rezervacija|}}
<div class="rescontainer">
    <div class="rezervacija-skatla">

        <div class="rezervacija-info">
            <p>Datum: {{datum rezervacija.narocilo.datum_in_ura}}</p>
            <p>Ura: {{cas rezervacija.narocilo.datum_in_ura}}</p>
            <p>St. oseb: {{rezervacija.st_oseb}} osebe</p>
        </div>

        {{{meniRezervacije rezervacija.narocilo.meni_items ../dynamicData.meni}}}
        <div class="rezervacija-status">
            <p>Status: čaka na potrditev</p>
            <p class="preklici">Prekliči <i role="button" class="fas fa-ban"></i></p>
        </div>
    </div>
</div>
{{/each}}
</div>